<div id="question-on-answer-page">
  <h2>{{question.title}}</h2>
  <h4>{{question.notes}}</h4>
  <h5>by {{question.user}}</h5>
  <h5>Posted On: {{time-format question}}</h5>
  <div class="q-up-del-btns">
    {{update-question question=question updateQuestion="updateQuestion"}}
    <button class="btn btn-danger " {{action 'delete' question}}>Delete Question</button>
  </div>
  <h6><a {{action 'reportAbuse' question}}>Report Abuse</a></h6>
</div>
<br>
<br>
<br>
<div class="row" id="answer-padding">
  <div class="col-sm-8 overflown-answers">
    {{#each sortedUpvotes as |answer|}}
      {{answer-tile answer=answer destroyAnswer="destroyAnswer" editAnswer="editAnswer" upVote="upVote" downVote="downVote"}}
    {{/each}}
  </div>
  <div class="col-sm-4">
    {{new-answer saveAnswer="saveAnswer" question=question}}
  </div>

</div>
