{{#if updateAnswerForm}}
  <label>Edit Answer</label>
  {{textarea rows="3" class="form-control" value=content id="content" placeholder="Enter an Answer..."}}
  <button class="btn btn-success form-control" {{action 'editAnswer' answer}}>Submit Answer</button>
  <button class="btn btn-warning form-control" {{action 'hideAnswerForm'}}>Cancel</button>
{{else}}
  <button class="btn btn-info form-control" {{action 'showAnswerForm'}}>Edit Answer</button>
{{/if}}
