{{#if newUpdateFormClicked}}
  <form class="form-group">
    <label>Edit Question</label>
    {{input class="form-control" value=title id="title" }}
    <label>Edit Notes</label>
    {{input class="form-control" value=notes id="notes" }}
    <button class="btn btn-success" {{action "updateQuestion" question}}>Submit</button>
    <button class="btn btn-danger" {{action "hideUpdateForm"}}>Cancel</button>
  </form>
{{else}}
  <button class="btn btn-info" {{action "showUpdateForm"}}>Edit Question</button>
{{/if}}
